@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    color: #2f0a04; /* Example hover effect */
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}